<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Personal Project</title>
</head>

<body>
        <div class="navigation">
            <a id="active" href="index">Home</a>
            <a href="commentsUploads">Comments/Uploads</a>
            <a href="contactPage">Contact</a>
            <a href="aboutPage">About</a>
            <a href="galleryPage">Gallery</a>
            <a href="mapPage">Map</a>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>