.lightBlue {
    background-color: lightblue;
}
.lightSalmon {
    background-color: lightsalmon;
}

/* body{
    background-color: lightblue;
} */
.directNav {
    /* justify-items: center; */
    justify-content: center;
    width: auto;
    height: auto;
    padding: 2px;
    text-align: center;
}
.navigation {    
    justify-content: center;
}

/* .top-Container {
    display: flex;
    width: 1345px;
    height: 718px;
    background-color: lightblue;
} */

/* .main-Picture {
    display: flex;
    width: 1345px;
    height: 718px;
    background-color: lightblue;
}
.Jp1 {
    background-image: url("images/jamaicaPlain1.jpg");
    width: 1077px;
    height: 718px;
} */

.bottom-Container {
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    width: 100%;
    height: 300%;
    background-color: lightblue;
    padding: 15px;
}


.main-Container {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}
/* .contacts-input {
    
} */

.full-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: beige;
}

.Gallery-main-Container{
background-color: white;
display: flex;
border: 10px;
justify-content: center;
}

.main-about-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-Container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    width: 50%;
    height: 50%;
    padding-top: 30px;
}

.left-Container{
    flex-direction: column;
    width: 50%;
    height: 50%;
}

.Gallery {
    margin: 10px 50px;
}
.Gallery img {
    transition: 1s;
    padding: 15px;
    width: 200px;
}
.Gallery img:hover {
    filter: opacity(100%);
    transform: scale(1.1);
}

#content {
    display: none;
}
