<%- include("../partials/head") %>
    <div class="lightSalmon">
    <div class="jumbotron jumbotron-fluid" style="background-color:lightseagreen">
        <div class="container">
          <h1 class="display-4">About this project</h1>
          <p class="lead">A little about me and my vision for the art community in Boston</p>
          </div>
    </div>
    <div class= "main-about-Container">
        <div class= left-Container>
            <img src="images/jamaicaPlain3.jpg" width="100%" height="50%">
        </div>
        <div class= "right-Container">
            <p>My name is Jacqueline Mercado and I was born and raised and still live in Roxbury, Mass. I love my community and while there is history here, there is beauty here too.
                <br><br>
                With this website I hope to connect you to the art community. My mission is to present an interactive website that allows people to share their experience and particular
                peices that resounded in them. I would love for users to add pieces and make this a hub for art enthusist.
                <br><br>
                
                Sometimes it's nice to just stop and smell the roses. So stop and look around appreciate what the Boston community can show you.</p>
        </div>
        </div>
    </div>
</body>
</html>