<%- include("../partials/head") %>
    <div class="jumbotron jumbotron-fluid"style="background-color:#f5dc8c">
        <div class="container">
          <h1 class="display-4">Leave a note! Share your expeirence!</h1>
          </div>
          </div>
    <form>
        <h2>Enter Information</h2>
        <label for="fname">First name:</label>
        <input type="text" name="fname" id="fname">
        <label for="lname">Last name:</label>
        <input type="text" name="lname" id="lname">
        <br><br>

        <label for="email">Enter your email:</label>
        <input type="text" name="email" id="email">
        <br><br>
        </form>
    <!-- <div class= "right-Container">
        <h1>Comment Board</h1>
        <div class= "input-Pic"></div>
        <div class= "input-Comment"></div>
        </div> -->
</body>
</html>