<%- include("../partials/head") %>
    <div class="jumbotron jumbotron-fluid" style="background-color:#f5dc8c">
        <div class="container">
          <h1 class="display-4">Contact Us</h1>
          <p class="lead">How can we help?</p>
          </div>
    </div>
    <div class= "main-Container">
        <div class= "contacts-input">            
        </div>
        </div>
</body>
</html>