<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Gallery</title>
</head>
<style>
    body {
        background-color: lightblue;
    }
</style>
<body>
    <div class="navigation">
        <a id="active" href="index.ejs">Home</a>
        <a href="commentsUploads.ejs">Comments/Uploads</a>
        <a href="contactPage.ejs">Contact</a>
        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    </div>
    <div class="directNav">
        <a href="aboutPage.ejs">About</a>
        <a href="galleryPage.ejs">Gallery</a>
        <a href="mapPage.ejs">Map</a>
    </div>
    <div class="jumbotron jumbotron-fluid" style="background-color: lightsalmon">
        <div class="container">
          <h1 class="display-4">Gallery</h1>
          <p class="lead">See whats out there!</p>
          </div>
          </div>
    <h1><center>Gallery</center></h1>
    <div class="Gallery">
        <a href="images/jamaicaPlain1.jpg"><img src="images/jamaicaPlain1.jpg"</a>
        <a href="images/jamaicaPlain2.jpg"><img src="images/jamaicaPlain2.jpg"</a>
        <a href="images/jamaicaPlain3.jpg"><img src="images/jamaicaPlain3.jpg"</a>
        <a href="images/roxbury1.jpg"><img src="images/roxbury1.jpg"</a>
        <a href="images/roxbury2.jpg"><img src="images/roxbury2.jpg"</a>
        <a href="images/roxbury3.jpg"><img src="images/roxbury3.jpg"</a>
        <a href="images/roxbury4.jpg"><img src="images/roxbury4.jpg"</a>
        <a href="images/roxbury5.jpg"><img src="images/roxbury5.jpg"</a>
        <a href="images/roxbury6.jpg"><img src="images/roxbury6.jpg"</a>
        <a href="images/powerbox1.jpg"><img src="images/powerbox1.jpg"</a>
        <a href="images/powerbox2.jpg"><img src="images/powerbox2.jpg"</a>
        <a href="images/powerbox3.jpg"><img src="images/powerbox3.jpg"</a>
    </div>

</body>
</html>