<%- include("../partials/head") %>
<div class="lightBlue">
    <div class="jumbotron jumbotron-fluid" style="background-color: lightsalmon">
        <div class="container">
            <h1 class="display-4">Discover urban treasures.</h1>
            <p class="lead">Find beautful landscapes right here in our city!</p>
        </div>
    </div>

    <div>
    <img src="/images/jamaicaPlain1.jpg" width="100%" height="65%">
    </div>
    <br>
    <h4><i><center>Click on the pictures below for a closer look</center></i></h4>
    <br>
    <div class="bottom-Container">
        <div class="Gallery">
            <a href="/images/cedricDouglas.jpg"><img src="/images/cedricDouglas.jpg" width="300" height="250"></a>
            <a href="/images/jamaicaPlain3.jpg"><img src="/images/jamaicaPlain3.jpg" width="300" height="250"></a>
            <a href="/images/BreatheLifeRoxbury1.jpg"><img src="/images/BreatheLifeRoxbury1.jpg" width="300" height="250"></a>
            <a href="/images/obamaPowerbox1.jpg"><img src="/images/obamaPowerbox1.jpg" width="300" height="250"></a>
        </div>
    </div>
</div>
</body>

</html>