<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/public/style.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Personal Project</title>
</head>

<body>
        <div class="navigation">
            <a id="active" href="index.ejs">Home</a>
            <a href="commentsUploads.ejs">Comments/Uploads</a>
            <a href="contactPage.ejs">Contact</a>
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>
    <div class="jumbotron jumbotron-fluid" style="background-color: lightsalmon">
        <div class="container">
            <h1 class="display-4">Discover urban treasures.</h1>
            <p class="lead">Find beautful landscapes right here in our city!</p>
        </div>
    </div>
    
    <div class="directNav">
        <a href="aboutPage.ejs">About</a>
        <a href="galleryPage.ejs">Gallery</a>
        <a href="mapPage.ejs">Map</a>
    </div>

    <!-- <div class="top-Container">
            <div class="main-Picture">
                <div class="Jp1"></div>
            </div>
    </div> -->
    <div>
    <a href="/images/jamaicaPlain1.jpg"><img src="/images/jamaicaPlain1.jpg" width="100%" height="100%"</a></a>
    </div>

    <h4><i><center>Click on the pictures below for a closer look</center></i></h4>
    <div class="bottom-Container">
        <div class="Gallery">
            <a href="/images/jamaicaPlain2.jpg"><img src="/images/jamaicaPlain2.jpg" width="300" height="250"</a>
            <a href="/images/jamaicaPlain3.jpg"><img src="/images/jamaicaPlain3.jpg" width="300" height="250"</a>
            <a href="/images/roxbury1.jpg"><img src="/images/roxbury1.jpg" width="300" height="250"</a>
        </div>
    </div>
</body>

</html>